@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&display=swap');

body, html{
	font-family: 'Lato', sans-serif;
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 25px;
	color: #edf0f1;
	text-decoration: none;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
html{
	background-image: url('../img/background-min.png')

}
h1{
	font-weight: bold;
	font-size: 112px;
	font-family:lato black, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2.6px;
}
.wrapper{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.op-banner h1{
	color: white;
	margin: 0 auto;
    text-align: center;
    width: 100%;
    line-height: 112px;
    padding-top: 300px;

}
.op-banner{
	height: 428px;
	border-radius: 10px;
	background-image:url('../img/header-min.png');
	background-position: center;
	background-size: cover;
	margin: 10px;
}
header {

}
nav {
	background-image: url('../img/menu-min.png');
	background-size: cover;
	background-position: center;
	margin: 10px;
	height: 55px;
	border-radius: 10px;
	text-align: center;
	width: 90%;
	margin: 0 5%;
	position: relative;

}
.main-nav {
	position: absolute;
	margin: auto;
	padding: 0;
	top: 50%;
	transform: translateY(-50%);
}
.main-nav li {
	display: inline-block;
	margin-left: 100px;
}
.main-nav li:first-child {
	display: inline-block;
	margin-left: 0px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 6px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s;
	transition: border-bottom 0.3s;
	font-size: 100%;
	font-weight: 700;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #ED2833;
}
.watch-op {
margin-top: 40px;
text-align: center;
}

.watch-op p {
	text-align: center;
	color: white;
}
.watch-op span{
	font-size: 25px;
}
p{
	font-family: lato regular, sans-serif;
	font-size: 23px;
	margin: 18px 16px;

}
h4{
	font-family: lato black, sans-serif;
	font-size: 28px;
	font-weight: bold;
	margin: 17px 0;
	color: #7f2f00;
}

h3{
		font-family: lato black, sans-serif;
		font-size: 35px;
		font-weight: bold;
		font-style: italic;
		color: #7f2f00;
		text-align: center;
		margin-top: 25px;
		margin-bottom: 40px;
}
h2{
	color: white;
	font-size: 50px;
	font-weight: bold;
}

.register-now{
	margin: 0 auto;
	height: 80px;
	box-sizing: border-box;

}
.register-now h2{
	font-family: lato black, sans-serif;
	text-align: center;
	margin-top: 0;
}

.container{
	text-align: center;
	margin: 0;
}
.btn{
	border: none;
	background-color: rgb(2, 54, 64);
	padding: 10px 25px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	margin: 10px;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	outline: none;
	
}
/*.btn:hover {
		background-color: rgb(0, 42, 50);

}*/
.btn:active,
button.cta:active{
	background-color: #0d5664;
}

.crewop{
	display: block;
	margin: 20px auto;
	border-radius: 10px;
}

.about-op h2{
	font-family: lato black, sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.about-op p{
	font-size: 28px;
	margin: 0 40px;
	text-indent: 70px;
	text-align: justify;
}
footer{
	margin-top: 60px;
	margin bottom: 40px;
	color: #7f2f00;
	font-size: 25px; 
}
footer ul{
	text-align: center
}
footer ul li{
	display: inline-block;
	margin: 0 3px;
}
footer a{
	color: #7f2f00;
}
footer a:hover{
	color: white;
}



.popup{
	display: none;
}
/*<div class="register-now">
			<h2>REGISTER NOW</h2>
			<button class="cta">Sign up now!</button>	
</div>*/
/*<div class="OP-latest-episode">
			<h3>One Piece LATEST EPISODE IS ONLINE! CLICK HERE TO WATCH!!!</h2>*/

/*<div class="watch-op">
			<h4>Watch One Piece Episodes English Subbed & Dubbed at StreamOP</h4>
				<p>	Welcome to WatchOP!. Everyweek we will have the latest one piece episode 1 hour right after japan TV, You can Watch<br> One piece with english subbed or english dubbed, Watch All Movies, OVA, Special's here at <span class="highlight">Stream One Piece.</span> Most of our videos are<br> high quality and HD you can select a various formats 1080p, 720p , 360p. Watch episodes in high quality for free!!.<br> Upcoming One Piece Episode!</p>
		</div>
*/
/*
<nav>
			<ul>
				<li><a href="#">Watch One Piece</a></li>
				<li><a href="#">One Piece Movies</a></li>
				<li><a href="#">One Piece Manga</a></li>
				<li><a href="#">Soundtracks</a></li>
			</ul>
		</nav>
/*
<div class="op-banner">
		<img src="img/header.png" width="1464" height="471" alt="one_piece_header">
		<div class="wrapper">
			<h1>Stream One Piece</h1>
		</div>
	</div>
*/